body {
	margin: 0;
	padding: 0;
	font-size: 14px;
}
.headnav{
	z-index: 9;
	width: 80%;
	height: 40px;
	margin: auto;
	background-color:rgba(240, 251, 255, 0.39);
	position: fixed;
	margin-left: 10%;
	
}

.login{
	float:left;
	margin-left:50px;
}
#login{
	
	margin-top: 7px;
	padding: 2px 25px;
	/*margin-left: 100px;*/
}
#sign{
	
	margin-top: 7px;
	padding: 2px 25px;
	/*margin-left: 110px;*/
}

.logo{
	width:100px;
	height: 40px;/*之后改回40px*/
	/*background-color: aqua;*/
	overflow: hidden;
	transition:height 2s;
	-moz-transition:height 2s; /* Firefox 4 */
	-webkit-transition:height 2s; /* Safari and Chrome */
	-o-transition:height 2s; /* Opera */
	float: left;
}

.logo:hover{
	height:130px;
}
.logo-a{
	display: block;
	width: 100px;
	height: 40px;
}
.logo-a p{
	padding-left: 25px;
	line-height: 40px;
	font-size: 20px;
}
.logo-img{
	width:80px;
	padding: 10px;
}

.mynav{
	list-style: none;
	float: left;
	width: 100px;
	margin: 0px;
	padding: 0px;
	height: 400px;
	background-color:rgba(70, 169, 179, 0.34);
	
}
.userinfo{
	float: left;
}
.userinfo p{
	line-height: 40px;
	font-size: 15px;
}
.mynav a{
	display: block;
	width: 100%;
}
.login{
	float: right;
}
.mainbody{
	width:80%;
	padding-top: 60px;
	
}
.login{
	float:right;
	margin-left:50px;
}
#login{
	margin-top: 7px;
	padding: 2px 25px;
	/*margin-left: 100px;*/
}
#sign{
	margin-top: 7px;
	padding: 2px 25px;
	/*margin-left: 110px;*/
}